<!-- ========== HEADER ========== -->
<header id="header" class="u-header u-header-left-aligned-nav">
    <div class="u-header__section">
        <!-- Logo and Menu -->
        <div class="py-2 py-xl-2 bg-primary-down-lg">
            <div class="container my-0dot5 my-xl-0">
                <div class="row align-items-center">
                    <!-- Logo-offcanvas-menu -->
                    <div class="col-auto">
                        <!-- Nav -->
                        <nav
                            class="navbar navbar-expand u-header__navbar py-0 justify-content-xl-between max-width-270 min-width-270">
                            <!-- Logo -->
                            <a class="order-1 order-xl-0 navbar-brand u-header__navbar-brand u-header__navbar-brand-center"
                            href="/" aria-label="ElectronicX" margin-top="-100px">
                            <img src="https://drive.google.com/uc?export=view&id=1BWrTCBQdRObKqhRZb3naajvmYvnFoSUh"
                                alt="ElectronicX">
                        </a>
                        <!-- End Logo -->
                            <!-- Fullscreen Toggle Button -->
                            <button id="sidebarHeaderInvokerMenu" type="button"
                                class="navbar-toggler d-block btn u-hamburger mr-3 mr-xl-0"
                                aria-controls="sidebarHeader" aria-haspopup="true" aria-expanded="false"
                                data-unfold-event="click" data-unfold-hide-on-scroll="false"
                                data-unfold-target="#sidebarHeader1" data-unfold-type="css-animation"
                                data-unfold-animation-in="fadeInLeft" data-unfold-animation-out="fadeOutLeft"
                                data-unfold-duration="500">
                                <span id="hamburgerTriggerMenu" class="u-hamburger__box  d-lg-block d-xl-none">
                                    <span class="u-hamburger__inner"></span>
                                </span>
                            </button>
                            <!-- End Fullscreen Toggle Button -->
                        </nav>
                        <!-- End Nav -->
                        <!-- ========== HEADER SIDEBAR ========== -->
                        <aside id="sidebarHeader1" class="u-sidebar u-sidebar--left"
                        aria-labelledby="sidebarHeaderInvokerMenu">
                        <div class="u-sidebar__scroller">
                            <div class="u-sidebar__container">
                                <div class="u-header-sidebar__footer-offset pb-0">
                                    <!-- Toggle Button -->
                                    <div class="position-absolute top-0 right-0 z-index-2 pt-4 pr-7">
                                        <button type="button" class="close ml-auto"
                                            aria-controls="sidebarHeader" aria-haspopup="true"
                                            aria-expanded="false" data-unfold-event="click"
                                            data-unfold-hide-on-scroll="false"
                                            data-unfold-target="#sidebarHeader1"
                                            data-unfold-type="css-animation"
                                            data-unfold-animation-in="fadeInLeft"
                                            data-unfold-animation-out="fadeOutLeft"
                                            data-unfold-duration="500">
                                            <span aria-hidden="true"><i
                                                    class="ec ec-close-remove text-gray-90 font-size-20"></i></span>
                                        </button>
                                    </div>
                                    <!-- End Toggle Button -->

                                    <!-- Content -->
                                    <div class="js-scrollbar u-sidebar__body">
                                        <div id="headerSidebarContent"
                                            class="u-sidebar__content u-header-sidebar__content">
                                            <!-- Logo -->
                                            <a class="d-flex ml-0 navbar-brand u-header__navbar-brand u-header__navbar-brand-vertical"
                                                href="/" aria-label="Electro">
                                                <img src="https://drive.google.com/uc?export=view&id=1BWrTCBQdRObKqhRZb3naajvmYvnFoSUh"
                                                    alt="ElectronicX">
                                            </a>
                                            <!-- End Logo -->

                                            <!-- List -->
                                            <ul id="headerSidebarList" class="u-header-collapse__nav">
                                                <!-- Home Section -->
                                                <li class="u-has-submenu u-header-collapse__submenu">
                                                    <a class="u-header-collapse__nav-link"
                                                        href="/"><b>Home</b></a>

                                                </li>
                                                <!-- End Home Section -->
                                                <li class="u-has-submenu u-header-collapse__submenu">
                                                    <a class="u-header-collapse__nav-link u-header-collapse__nav-pointer"
                                                        href="javascript:;"
                                                        data-target="#headerSidebarPagesCollapse1"
                                                        role="button" data-toggle="collapse"
                                                        aria-expanded="false"
                                                        aria-controls="headerSidebarPagesCollapse">
                                                        <b><span class="ec ec-laptop"> </span> Laptops</b>
                                                                </a>

                                                                <div id="headerSidebarPagesCollapse1" class="collapse"
                                                                    data-parent="#headerSidebarContent">
                                                                    <ul id="headerSidebarPagesMenu"
                                                                        class="u-header-collapse__nav-list  text-primary">
                                                                        <li><a href="/subbrandshop/?sub_brand=Essentials"
                                                                                class="nav-link u-header-collapse__submenu-nav-link">Essentials</a>
                                                                        </li>

                                                                        <li><a href="/subbrandshop/?sub_brand=Business"
                                                                                class="nav-link u-header-collapse__submenu-nav-link">Business
                                                                                Laptops</a></li>

                                                                        <li><a class="nav-link u-header-collapse__submenu-nav-link"
                                                                                href="/subbrandshop/?sub_brand=Gaming">Gaming
                                                                                Laptops</a></li>
                                                                    </ul>
                                                                </div>
                                                            </li>

                                                            <li class="u-has-submenu u-header-collapse__submenu">
                                                                <a class="u-header-collapse__nav-link u-header-collapse__nav-pointer"
                                                                    href="javascript:;"
                                                                    data-target="#headerSidebarPagesCollapse2"
                                                                    role="button" data-toggle="collapse"
                                                                    aria-expanded="false"
                                                                    aria-controls="headerSidebarPagesCollapse">
                                                                    <b><span class="ec ec-smartphones"> </span> Smart
                                                                        Phones</b>
                                                                </a>

                                                                <div id="headerSidebarPagesCollapse2" class="collapse"
                                                                    data-parent="#headerSidebarContent">
                                                                    <ul id="headerSidebarPagesMenu"
                                                                        class="u-header-collapse__nav-list  text-primary">
                                                                        <li><a href="/subbrandshop/?sub_brand=5 Series"
                                                                                class="nav-link u-header-collapse__submenu-nav-link">5
                                                                                Series</a></li>
                                                                        <li><a href="/subbrandshop/?sub_brand=6 Series"
                                                                                class="nav-link u-header-collapse__submenu-nav-link">6
                                                                                Series</a></li>
                                                                        <li><a href="/subbrandshop/?sub_brand=7 Series"
                                                                                class="nav-link u-header-collapse__submenu-nav-link">7
                                                                                Series</a></li>
                                                                        <li><a href="/subbrandshop/?sub_brand=8 Series"
                                                                                class="nav-link u-header-collapse__submenu-nav-link">8
                                                                                Series</a></li>
                                                                        <li><a href="/subbrandshop/?sub_brand=X Series"
                                                                                class="nav-link u-header-collapse__submenu-nav-link">X
                                                                                Series</a></li>
                                                                        <li><a href="/subbrandshop/?sub_brand=11 Series"
                                                                                class="nav-link u-header-collapse__submenu-nav-link">11
                                                                                Series</a></li>
                                                                    </ul>
                                                                </div>
                                                            </li>
                                                            <li class="u-has-submenu u-header-collapse__submenu">
                                                                <a class="u-header-collapse__nav-link u-header-collapse__nav-pointer"
                                                                    href="javascript:;"
                                                                    data-target="#headerSidebarPagesCollapse"
                                                                    role="button" data-toggle="collapse"
                                                                    aria-expanded="false"
                                                                    aria-controls="headerSidebarPagesCollapse">
                                                                    <b><span class="ec ec-headphones"> </span>
                                                                        Accessories</b>
                                                                </a>

                                                                <div id="headerSidebarPagesCollapse" class="collapse"
                                                                    data-parent="#headerSidebarContent">
                                                                    <ul id="headerSidebarPagesMenu"
                                                                        class="u-header-collapse__nav-list  text-primary">

                                                                        <li>Mouse</li>

                                                                        <li><a href="/subbrandshop/?sub_brand=Wireless Mouse"
                                                                                class="nav-link u-header-collapse__submenu-nav-link">Wireless</a>
                                                                        </li>
                                                                        <li><a href="/subbrandshop/?sub_brand=Wired Mouse"
                                                                                class="nav-link u-header-collapse__submenu-nav-link">Wired</a>
                                                                        </li>
                                                                        <li>Earphones</li>

                                                                        <li><a href="/subbrandshop/?sub_brand=Wireless Earphones"
                                                                                class="nav-link u-header-collapse__submenu-nav-link">Wireless</a>
                                                                        </li>
                                                                        <li><a href="/subbrandshop/?sub_brand=Wired Earphones"
                                                                                class="nav-link u-header-collapse__submenu-nav-link">Wired</a>
                                                                        </li>


                                                                        <li>Pen Drives</li>

                                                                        <li><a href="/subbrandshop/?sub_brand=Pen Drives"
                                                                                class="nav-link u-header-collapse__submenu-nav-link">Pen
                                                                                Drives</a></li>

                                                                    </ul>
                                                                </div>
                                                            </li>
                                                            <li class="u-has-submenu u-header-collapse__submenu">
                                                                <a class="u-header-collapse__nav-link u-header-collapse__nav-pointer"
                                                                    href="javascript:;"
                                                                    data-target="#headerSidebarPagesCollapse3"
                                                                    role="button" data-toggle="collapse"
                                                                    aria-expanded="false"
                                                                    aria-controls="headerSidebarPagesCollapse">
                                                                    <b><span class="ec ec-grid-view"> </span>
                                                                        Networking</b>
                                                    </a>

                                                    <div id="headerSidebarPagesCollapse3" class="collapse"
                                                        data-parent="#headerSidebarContent">
                                                        <ul id="headerSidebarPagesMenu"
                                                            class="u-header-collapse__nav-list  text-primary">

                                                            <li>Routers</li>

                                                            <li><a href="/subbrandshop/?sub_brand=Wireless Router"
                                                                    class="nav-link u-header-collapse__submenu-nav-link">Wireless
                                                                    Routers</a></li>
                                                            <li><a href="/subbrandshop/?sub_brand=Gaming Router"
                                                                    class="nav-link u-header-collapse__submenu-nav-link">Gaming
                                                                    Routers</a></li>
                                                                    <li><a href="/subbrandshop/?sub_brand=2 Pack Models"
                                                                        class="nav-link u-header-collapse__submenu-nav-link">2 Pack Models</a></li>
                                                                    

                                                            <li>Adapters</li>

                                                            <li><a href="/subbrandshop/?sub_brand=Wireless Adapter"
                                                                    class="nav-link u-header-collapse__submenu-nav-link">Wireless
                                                                    Adapters</a></li>

                                                        </ul>
                                                    </div>
                                                </li>
                                            </ul>
                                            <!-- End List -->
                                        </div>
                                    </div>
                                    <!-- End Content -->
                                </div>
                            </div>
                        </div>
                    </aside>
                    <!-- ========== END HEADER SIDEBAR ========== -->
                    </div>
                    <!-- End Logo-offcanvas-menu -->

                    <!-- Customer Care -->
                    <!-- <div class="d-none d-xl-block ml-auto">
                        <div class="d-flex">
                            <i class="ec ec-mail font-size-50 text-primary"></i>
                            <div class="ml-2">
                                <div class="phone">
                                    <strong>mail</strong> <a href="tel:800856800604" class="text-gray-90">(+800) 856 800 604</a>
                                </div>
                                <div class="email">
                                    E-mail: <a href="mailto:info@electro.com?subject=Help Need" class="text-gray-90">info@electro.com</a>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- End Customer Care -->
                    <!-- Header Icons -->
                    <div class="col col-xl-auto text-right text-xl-left pl-0 pl-xl-3 position-static ml-auto">
                        <div class="d-inline-flex">
                            <ul class="d-flex list-unstyled mb-0 align-items-center">


                                <li class="col"><a href="/wishlist/?email=<%=email%>" class="text-gray-90"
                                        data-toggle="tooltip" data-placement="top" title="Saved"><i
                                            class="font-size-18 fa fa-bookmark"></i></a></li>
                                <li class="col"><a href="/logout" class="text-gray-90" data-toggle="tooltip"
                                        data-placement="top" title="Logout"><i
                                            class="font-size-20 fas fa-sign-out-alt"></i></a></li>
                                <li><%=email%></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Header Icons -->
                </div>
            </div>
        </div>
        <!-- End Logo and Menu -->

        <!-- Primary-menu-wide -->
        <div class="d-none d-xl-block bg-primary">
            <div class="container">
                <div class="min-height-45">
                    <!-- Nav -->
                    <nav
                        class="js-mega-menu navbar navbar-expand-md u-header__navbar u-header__navbar--wide u-header__navbar--no-space">
                        <!-- Navigation -->
                        <div id="navBar" class="collapse navbar-collapse u-header__navbar-collapse">
                            <ul class="navbar-nav u-header__navbar-nav">
                                <!-- Home -->
                                <li class="nav-item u-header__nav-item">
                                    <a class="nav-link u-header__nav-link" href="/">Home</a>
                                </li>
                                <!-- End Home -->

                                <li class="nav-item hs-has-mega-menu u-header__nav-item" data-event="hover"
                                    data-animation-in="slideInUp" data-animation-out="fadeOut">
                                    <a id="MoviesGamesMegaMenu"
                                        class="nav-link u-header__nav-link u-header__nav-link-toggle"
                                        href="javascript:;" aria-haspopup="true"
                                        aria-expanded="false"><span
                                        class="ec ec-laptop"> </span> Laptops</a>

                                <!-- Movies & Games - Mega Menu -->
                                <div class="hs-mega-menu w-100 u-header__sub-menu"
                                    aria-labelledby="LaptopsMegaMenu">
                                    <div class="row u-header__mega-menu-wrapper">
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col">
                                                    <br>
                                                    <a href="#" class="d-block">
                                                        <img class="img-fluid"
                                                            src="https://drive.google.com/uc?export=view&id=1dKxBl0MeRpqUKvH7FkdHqvtJ3ThKCOZa"
                                                            alt="Image Description">
                                                    </a>
                                                </div>
                                                <div class="col">
                                                    <br><br>
                                                    <span class="nav-link u-header__sub-menu-title"><a
                                                            href="/subbrandshop/?sub_brand=Essentials"
                                                            class="nav-link u-header__sub-menu-nav-link">Essentials</a></span>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col">
                                                    <a href="#" class="d-block">
                                                        <img class="img-fluid"
                                                            src="https://drive.google.com/uc?export=view&id=1UnB3IB8HyVrYtcnAcqYVOY4PFiv54h_v"
                                                            alt="Image Description">
                                                    </a>
                                                </div>
                                                <div class="col">
                                                    <br><br>
                                                    <span class="nav-link u-header__sub-menu-title"><a
                                                            href="/subbrandshop/?sub_brand=Business"
                                                            class="nav-link u-header__sub-menu-nav-link">Business
                                                            Laptops</a></span>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col">
                                                    <a href="#" class="d-block">
                                                        <img class="img-fluid"
                                                            src="https://drive.google.com/uc?export=view&id=1DQOVDPkF9yeP5UPvIfrS23g0Iy8C8kSu"
                                                            alt="Image Description">
                                                    </a>
                                                </div>
                                                <div class="col">
                                                    <br><br>
                                                    <span class="nav-link u-header__sub-menu-title"><a
                                                            href="/subbrandshop/?sub_brand=Gaming"
                                                            class="nav-link u-header__sub-menu-nav-link">Gaming
                                                            Laptops</a></span>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Movies & Games - Mega Menu -->
                            </li>
                            <li class="nav-item hs-has-mega-menu u-header__nav-item" data-event="hover"
                                data-animation-in="slideInUp" data-animation-out="fadeOut">
                                <a id="MoviesGamesMegaMenu"
                                    class="nav-link u-header__nav-link u-header__nav-link-toggle"
                                    href="javascript:;" aria-haspopup="true" aria-expanded="false"><span
                                        class="ec ec-smartphones"> </span> Smart
                                    Phones</a>

                                <!-- Movies & Games - Mega Menu -->
                                <div class="hs-mega-menu w-100 u-header__sub-menu"
                                    aria-labelledby="PhonesMegaMenu">
                                    <div class="row u-header__mega-menu-wrapper">
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col">
                                                    <a href="#" class="d-block">
                                                        <img class="img-fluid"
                                                            src="https://drive.google.com/uc?export=view&id=1blFu4QT6ST4-D1y8Cq3U5pJCxXd2tbUa"
                                                            alt="Image Description">
                                                    </a>
                                                </div>
                                                <div class="col">
                                                    <br>
                                                    <span
                                                        class="u-header__sub-menu-title">OnePlus</span>
                                                    <ul class="u-header__sub-menu-nav-group">
                                                        <li><a href="/subbrandshop/?sub_brand=5 Series"
                                                                class="nav-link u-header__sub-menu-nav-link">5
                                                                Series</a></li>
                                                        <li><a href="/subbrandshop/?sub_brand=6 Series"
                                                                class="nav-link u-header__sub-menu-nav-link">6
                                                                Series</a></li>
                                                        <li><a href="/subbrandshop/?sub_brand=8 Series"
                                                                class="nav-link u-header__sub-menu-nav-link">8
                                                                Series</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col">
                                                    <a href="#" class="d-block">
                                                        <img class="img-fluid"
                                                            src="https://drive.google.com/uc?export=view&id=1DWXnWni9X8y1YGq1-EHuJ1zRi5paCBvP"
                                                            alt="Image Description">
                                                    </a>
                                                </div>
                                                <div class="col">
                                                    <br><br><br>
                                                    <ul class="u-header__sub-menu-nav-group">
                                                        <li><a href="/subbrandshop/?sub_brand=7 Series"
                                                                class="nav-link u-header__sub-menu-nav-link">7
                                                                Series</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col">
                                                    <a href="#" class="d-block">
                                                        <img class="img-fluid"
                                                            src="https://drive.google.com/uc?export=view&id=1c_CtfHOyUSpmE7h8wrX4C4ajeygreLMB"
                                                            alt="Image Description">
                                                    </a>
                                                </div>
                                                <div class="col">
                                                    <br>
                                                    <span class="u-header__sub-menu-title">Apple</span>
                                                    <ul class="u-header__sub-menu-nav-group">
                                                        <li><a href="/subbrandshop/?sub_brand=X Series"
                                                                class="nav-link u-header__sub-menu-nav-link">X
                                                                Series</a></li>
                                                        <li><a href="/subbrandshop/?sub_brand=11 Series"
                                                                class="nav-link u-header__sub-menu-nav-link">11
                                                                Series</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Movies & Games - Mega Menu -->
                            </li>
                            <li class="nav-item hs-has-mega-menu u-header__nav-item" data-event="hover"
                                data-animation-in="slideInUp" data-animation-out="fadeOut">
                                <a id="AccessoriesMegaMenu"
                                    class="nav-link u-header__nav-link u-header__nav-link-toggle"
                                    href="javascript:;" aria-haspopup="true" aria-expanded="false"><span
                                        class="ec ec-headphones"> </span> Accessories</a>

                                <!-- Movies & Games - Mega Menu -->
                                <div class="hs-mega-menu w-100 u-header__sub-menu"
                                    aria-labelledby="LaptopsMegaMenu">
                                    <div class="row u-header__mega-menu-wrapper">
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col">
                                                    <a href="#" class="d-block">
                                                        <img class="img-fluid"
                                                            src="https://drive.google.com/uc?export=view&id=1mgJeJaPapQ-DGpbEGdDSY0i_Kb3BR1-W"
                                                            alt="Image Description">
                                                    </a>
                                                </div>
                                                <div class="col">
                                                    <br><br>
                                                    <span class="nav-link u-header__sub-menu-title"><a
                                                            href="/subbrandshop/?sub_brand=Pen Drive"
                                                            class="nav-link u-header__sub-menu-nav-link">Pen
                                                            Drives</a></span>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col">
                                                    <a href="#" class="d-block">
                                                        <img class="img-fluid"
                                                            src="https://drive.google.com/uc?export=view&id=1PJv1fStiKe_Ka4zqX4gC3qsjpwHTMsvN"
                                                            alt="Image Description">
                                                    </a>
                                                </div>
                                                <div class="col">
                                                    <br>
                                                    <span class="u-header__sub-menu-title">Mouse</span>
                                                    <ul class="u-header__sub-menu-nav-group">
                                                        <li><a href="/subbrandshop/?sub_brand=Wireless Mouse"
                                                                class="nav-link u-header__sub-menu-nav-link">Wireless</a>
                                                        </li>
                                                        <li><a href="/subbrandshop/?sub_brand=Wired Mouse"
                                                                class="nav-link u-header__sub-menu-nav-link">Wired</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col">
                                                    <a href="#" class="d-block">
                                                        <img class="img-fluid"
                                                            src="https://drive.google.com/uc?export=view&id=1eZMh8S8U9qJhdKODRvjzd7K9-jySTp6k"
                                                            alt="Image Description">
                                                    </a>
                                                </div>
                                                <div class="col">
                                                    <br>
                                                    <span
                                                        class="u-header__sub-menu-title">Earphones</span>
                                                    <ul class="u-header__sub-menu-nav-group">
                                                        <li><a href="/subbrandshop/?sub_brand=Wireless Earphones"
                                                                class="nav-link u-header__sub-menu-nav-link">Wireless</a>
                                                        </li>
                                                        <li><a href="/subbrandshop/?sub_brand=Wired Earphones"
                                                                class="nav-link u-header__sub-menu-nav-link">Wired</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Movies & Games - Mega Menu -->
                            </li>
                            <li class="nav-item hs-has-mega-menu u-header__nav-item" data-event="hover"
                                data-animation-in="slideInUp" data-animation-out="fadeOut">
                                <a id="MoviesGamesMegaMenu"
                                    class="nav-link u-header__nav-link u-header__nav-link-toggle"
                                    href="javascript:;" aria-haspopup="true" aria-expanded="false"><span
                                        class="ec ec-grid-view"> </span> Networking</a>

                                    <!-- Movies & Games - Mega Menu -->
                                    <div class="hs-mega-menu w-100 u-header__sub-menu"
                                        aria-labelledby="MoviesGamesMegaMenu">
                                        <div class="row u-header__mega-menu-wrapper">
                                            <div class="col-md-4">
                                                <div class="row">
                                                    <div class="col">
                                                        <a href="#" class="d-block">
                                                            <img class="img-fluid"
                                                                src="https://drive.google.com/uc?export=view&id=17T_Z9bhfb4xzp2hpinM-r_9OjaT1NN4Z"
                                                                alt="Image Description">
                                                        </a>
                                                    </div>
                                                    <div class="col">
                                                        <br><br>
                                                        <span
                                                            class="u-header__sub-menu-title">Routers</span>
                                                        <ul class="u-header__sub-menu-nav-group">
                                                            <li><a href="/subbrandshop/?sub_brand=Wireless Router"
                                                                    class="nav-link u-header__sub-menu-nav-link">Wireless
                                                                    Routers</a></li>
                                                            <li><a href="/subbrandshop/?sub_brand=Gaming Router"
                                                                    class="nav-link u-header__sub-menu-nav-link">Gaming
                                                                    Routers</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="row">
                                                    <div class="col">
                                                        <a href="#" class="d-block">
                                                            <img class="img-fluid"
                                                                src="https://drive.google.com/uc?export=view&id=1_xMPNBWEi0zFi2vnhO2NJz09CoKiBM_Q"
                                                                alt="Image Description">
                                                        </a>
                                                    </div>
                                                    <div class="col">
                                                        <br><br>
                                                        <span class="nav-link u-header__sub-menu-title"><a
                                                                href="/subbrandshop/?sub_brand=Wireless Adapter"
                                                                class="nav-link u-header__sub-menu-nav-link">Wireless
                                                                Adapters</a></span>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="row">
                                                    <div class="col">
                                                        <a href="#" class="d-block">
                                                            <img class="img-fluid"
                                                                src="https://drive.google.com/uc?export=view&id=1uB5LfNzyd7sLkzZB0X9_CN9ZgBTCMXVW"
                                                                alt="Image Description">
                                                        </a>
                                                    </div>
                                                    <div class="col">
                                                        <br><br><br>
                                                        <span class="nav-link u-header__sub-menu-title"><a
                                                                href="/subbrandshop/?sub_brand=2 Pack Models"
                                                                class="nav-link u-header__sub-menu-nav-link">2
                                                                Pack Models</a></span>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Movies & Games - Mega Menu -->
                                </li>
                                <!-- End Pages (rest tabs in blank.ejs-->
                            </ul>
                        </div>
                        <!-- End Navigation -->
                    </nav>
                    <!-- End Nav -->
                </div>
            </div>
        </div>
        <!-- End Primary-menu-wide -->
    </div>
</header>
<!-- ========== END HEADER ========== -->
<!-- ========== MAIN CONTENT ========== -->
<main id="content" role="main">
    <br>
    <br>
    <div class="container">
        <!-- Single Product Body -->
        <div class="mb-xl-14 mb-6">
            <div class="row">
                <div class="col-md-5 mb-4 mb-md-0">
                    <div id="sliderSyncingNav" class="js-slick-carousel u-slick mb-2" data-infinite="true"
                        data-arrows-classes="d-none d-lg-inline-block u-slick__arrow-classic u-slick__arrow-centered--y rounded-circle"
                        data-arrow-left-classes="fas fa-arrow-left u-slick__arrow-classic-inner u-slick__arrow-classic-inner--left ml-lg-2 ml-xl-4"
                        data-arrow-right-classes="fas fa-arrow-right u-slick__arrow-classic-inner u-slick__arrow-classic-inner--right mr-lg-2 mr-xl-4"
                        data-nav-for="#sliderSyncingThumb">
                        <div class="js-slide">
                            <img class="img-fluid" src="<%=results[0].img1%>" alt="<%=results[0].s_des%>">
                        </div>
                        <div class="js-slide">
                            <img class="img-fluid" src="<%=results[0].img2%>" alt="<%=results[0].s_des%>">
                        </div>
                        <div class="js-slide">
                            <img class="img-fluid" src="<%=results[0].img3%>" alt="<%=results[0].s_des%>">
                        </div>
                    </div>

                    <div id="sliderSyncingThumb"
                        class="js-slick-carousel u-slick u-slick--slider-syncing u-slick--slider-syncing-size u-slick--gutters-1 u-slick--transform-off"
                        data-infinite="true" data-slides-show="5" data-is-thumbs="true"
                        data-nav-for="#sliderSyncingNav">
                        <div class="js-slide" style="cursor: pointer;">
                            <img class="img-fluid" src="<%=results[0].img1%>" alt="<%=results[0].s_des%>">
                        </div>
                        <div class="js-slide" style="cursor: pointer;">
                            <img class="img-fluid" src="<%=results[0].img2%>" alt="<%=results[0].s_des%>">
                        </div>
                        <div class="js-slide" style="cursor: pointer;">
                            <img class="img-fluid" src="<%=results[0].img3%>" alt="<%=results[0].s_des%>">
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 col-xl-4 mb-md-6 mb-lg-0">
                    <div class="mb-2">
                        <div class="border-bottom mb-3 pb-md-1 pb-3">
                            <p class="font-size-12 text-gray-5 mb-2 d-inline-block"><%=results[0].brand%></p>
                            <h2 class="font-size-25 text-lh-1dot2"><%=results[0].model_no%></h2>
                            <p class="font-size-14 text-gray-5 mb-2 d-inline-block"><%=results[0].sub_brand%></p>
                            <div class="mb-2">
                                <a class="d-inline-flex align-items-center small font-size-15 text-lh-1" href="#">
                                    <div class="text-warning mr-2">
                                            <% for (var i=0; i<results[0].rating; i++){%>
                                                <small class="fas fa-star"></small>
                                            <%}%>
                                            <% for (var i=0; i<5-results[0].rating; i++){%>
                                                <small class="far fa-star text-muted"></small>
                                            <%}%>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="mb-2">
                            <h5 class="font-weight-bold"><%=results[0].s_des%></h5>
                            <div class="mb-2">
                                <p class="text-gray-110 "><%=results[0].l_des%></p>
                            </div>

                            <ul class="font-size-14 pl-3 ml-1 ">
                                <li><%=results[0].a_1%></li>
                                <li><%=results[0].a_2%></li>
                                <li><%=results[0].a_3%></li>
                            </ul>
                        </div>
                        <br><br>
                        <div class="mb-4">
                            <div class="d-flex align-items-baseline">
                                <div class="font-size-36"><%=results[0].mrp%></div>
                            </div>
                        </div>

                        <div class="d-md-flex align-items-end mb-3">
                            <a href="/addtowishlist/?email=<%=email%>&model_no=<%=results[0].model_no%>"
                                class="btn px-5 btn-primary-dark transition-3d-hover"><i
                                    class="fa fa-bookmark mr-2 font-size-18"></i> <%=results[7].alert%></a>
                        </div>
                    </div>
                </div>
                <div class="mx-md-auto mx-lg-0 col-md-6 col-lg-4 col-xl-3">
                    <div class="mb-2">
                        <div class="card p-5 border-width-2 border-color-1 borders-radius-17">
                            <h3 class="font-size-30 text-center mb-5">Add a review</h3>
                            <!-- Form -->
                            <form class="js-validate" action="/review" method="post">
                                <div class="mb-3">
                                    <label for="rating" class="form-label mb-0">Your Rating </label>
                                    <br>
                                    <div class="border rounded-pill py-2 w-md-60 height-35 px-3 border-color-1">
                                        <div class=" row align-items-center">
                                            <div class="col">
                                                <input class="form-control h-auto border-0 rounded p-0 shadow-none"
                                                    name="rating" type="number" min="1" max="5" value="5">
                                            </div>
                                        </div>
                                    </div><div class="font-size-12 text-secondary"> Rate the product from 1 to 5</div>
                                </div>
                                <br>
                                    <div class="mb-3">
                                        
                                        <label for="descriptionTextarea" class="form-label mb-0">Your Comments</label>
                                    </div>
                                    <br>
                                    <div class="mb-3">
                                        
                                        <textarea type="text" name="comment" class="form-control mb-0" rows="3" id="descriptionTextarea"
                                            data-error-class="u-has-error" required data-msg="Please enter a comment."
                                            data-success-class="u-has-success"></textarea>
                                    </div>
                                <input class="form-control" name="id" type="hidden" id="id"
                                    value="<%=results[0].model_no%>">
                                <input class="form-control" name="email" type="hidden" id="email" value="<%=email%>">
                                <br>
                                <div class="row">
                                    
                                        <button type="submit"
                                            class="btn btn-primary-dark btn-block transition-3d-hover">Add
                                            Review</button>
                                        </div>
                            </form>
                            <!-- End Form -->
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Single Product Body -->
        <!-- Single Product Tab -->
        <div class="mb-8">
            <div class="position-relative position-md-static px-md-6">
                <ul class="nav nav-classic nav-tab nav-tab-lg justify-content-xl-center flex-nowrap flex-xl-wrap overflow-auto overflow-xl-visble border-0 pb-1 pb-xl-0 mb-n1 mb-xl-0"
                    id="pills-tab-8" role="tablist">
                    <li class="nav-item flex-shrink-0 flex-xl-shrink-1 z-index-2">
                        <a class="nav-link active" id="Jpills-one-example1-tab" data-toggle="pill"
                            href="#Jpills-one-example1" role="tab" aria-controls="Jpills-one-example1"
                            aria-selected="true">Reviews</a>
                    </li>
                    <li class="nav-item flex-shrink-0 flex-xl-shrink-1 z-index-2">
                        <a class="nav-link" id="Jpills-two-example1-tab" data-toggle="pill" href="#Jpills-two-example1"
                            role="tab" aria-controls="Jpills-two-example1" aria-selected="false">Features</a>
                    </li>
                    <li class="nav-item flex-shrink-0 flex-xl-shrink-1 z-index-2">
                        <a class="nav-link" id="Jpills-three-example1-tab" data-toggle="pill"
                            href="#Jpills-three-example1" role="tab" aria-controls="Jpills-three-example1"
                            aria-selected="false">Specification</a>
                    </li>
                </ul>
            </div>
            <!-- Tab Content -->
            <div class="borders-radius-17 border p-4 mt-4 mt-md-0 px-lg-10 py-lg-9">
                <div class="tab-content" id="Jpills-tabContent">
                    <div class="tab-pane fade active show" id="Jpills-one-example1" role="tabpanel"
                        aria-labelledby="Jpills-one-example1-tab">
                        <% var j=8; while (results[j]){%>
                        <div class="border-bottom border-color-1 mb-4">
                            <!-- Review Rating -->
                            <div
                                class="d-flex justify-content-between align-items-center text-secondary font-size-1 mb-1">
                                <div class="text-warning text-ls-n2 font-size-16" style="width: 80px;">
                                    <% for (var i=0; i<results[j].rating; i++){%>
                                    <small class="fas fa-star"></small>
                                    <%}%>
                                    <% for (var i=0; i<5-results[j].rating; i++){%>
                                    <small class="far fa-star text-muted"></small>
                                    <%}%>
                                </div>
                            </div>
                                    <!-- End Review Rating -->

                                        <p class="text-gray-90"><%=results[j].comment%></p>

                                    <!-- Reviewer -->
                                    <div class="mb-2">
                                        <strong>- <%=results[j].fname%> <%=results[j].lname%></strong>
                                    </div>
                                    <!-- End Reviewer -->
                        </div>
                                <%j=j+1;}%>
                                <!-- End Review -->
                            </div>
                            <div class="tab-pane fade" id="Jpills-two-example1" role="tabpanel"
                                aria-labelledby="Jpills-two-example1-tab">
                                <div class="row">
                                    <div class="col-md-6">

                                        <div class="pt-lg-8 pt-xl-10">
                                            <ul class="font-size-14 pl-3 ml-1 text-gray-110">
                                                <li><%=results[0].a_1%></li>
                                                <br>
                                                <li><%=results[0].a_2%></li>
                                                <br>
                                                <li><%=results[0].a_3%></li>
                                                <br>
                                                <li><%=results[0].a_4%></li>
                                                <br>
                                                <li><%=results[0].a_5%></li>
                                                <br>
                                                <li><%=results[0].a_6%></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <img class="img-fluid mr-n4 mr-md-n10 mr-xl-n15" src="<%=results[0].img2%>"
                                            alt="Image Feature">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="Jpills-three-example1" role="tabpanel"
                                aria-labelledby="Jpills-three-example1-tab">
                                <div class="mx-md-5 pt-1">
                                    <div class="table-responsive mb-4">
                                        <table class="table table-hover">
                                            <tbody>
                                                <tr>
                                                    <th class="px-4 px-xl-5 border-top-0">Weight</th>
                                                    <td class="border-top-0"><%=results[0].p_weight%> g</td>
                                                </tr>
                                                <tr>
                                                    <th class="px-4 px-xl-5">Dimensions</th>
                                                    <td><%=results[0].p_len%> x <%=results[0].p_width%> x
                                                        <%=results[0].p_height%> cm</td>
                                                </tr>
                                                <tr>
                                                    <th class="px-4 px-xl-5">Colour</th>
                                                    <td><%=results[0].colour%></td>
                                                </tr>
                                                <tr>
                                                    <th class="px-4 px-xl-5">Warranty</th>
                                                    <td><%=results[0].warranty%> months</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Tab Content -->
                </div>
                <!-- End Single Product Tab -->
                <!-- Related products -->
                <div class="mb-6">
                    <div
                        class="d-flex justify-content-between align-items-center border-bottom border-color-1 flex-lg-nowrap flex-wrap mb-4">
                        <h3 class="section-title mb-0 pb-2 font-size-22">Related products</h3>
                    </div>
                    <ul class="row list-unstyled products-group no-gutters">
                        <% for (var i=1; i<7; i++){%>
                        <li class="col-6 col-md-4 col-xl product-item">
                            <div class="product-item__inner px-xl-4 p-3">
                                <div class="product-item__body pb-xl-2">
                                    <div class="mb-2"><a href=""
                                            class="font-size-12 text-gray-5"><%= results[i].brand %></a></div>
                                    <h5 class="mb-1 product-item__title"><a
                                            href="/dproduct/?id=<%=results[i].model_no%>"
                                            class="text-blue font-weight-bold"><%= results[i].model_no %></a></h5>
                                    <div class="mb-2">
                                        <a href="/dproduct/?id=<%=results[i].model_no%>"
                                            class="d-block text-center"><img height="185" src="<%= results[i].img1 %>"
                                                alt="<%=results[i].model_no%>"></a>
                                    </div>
                                    <div class="flex-center-between mb-1">
                                        <div class="prodcut-price">
                                            <div class="text-gray-100"><%= results[i].mrp %></div>
                                        </div>
                                        <div class="d-none d-xl-block prodcut-add-cart">
                                            <a href="/addtowishlist/?email=<%=email%>&model_no=<%=results[i].model_no%>"
                                                class="btn-add-cart btn-primary transition-3d-hover"><i
                                                    class="fa fa-bookmark"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-item__footer">
                                </div>
                            </div>
                        </li>
                        <%}%>
            </ul>
        </div>
        <!-- End Related products -->
    </div>
</main>
<!-- ========== END MAIN CONTENT ========== -->

        <!-- ========== FOOTER ========== -->
        <footer>
            <!-- Footer-bottom-widgets -->
            <div class="pt-8 pb-4 bg-primary">
                <div class="container mt-1">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="mb-6">
                                <a href="#" class="d-inline-block">
                                    <img src="https://drive.google.com/uc?export=view&id=1BWrTCBQdRObKqhRZb3naajvmYvnFoSUh"
                                        alt="ElectronicX" height="100">
                                </a>
                            </div>
                            <div class="mb-4">
                                <div class="row no-gutters">
                                    <div class="col-auto">
                                        <i class="ec ec-mail text-gray-90 font-size-56"></i>
                                    </div>
                                    <div class="col pl-3">
                                        <div class="font-size-13 ">Got questions? Mail us!</div>
                                        <div><a href="mailto:elex.electronicx@gmail.com" class="text-black">elex.electronicx@gmail.com</a></div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-lg-7">
                            <div class="row">
                                <div class="col-12 col-md mb-4 mb-md-0">
                                    <h6 class="mb-3 font-weight-bold">Find it Fast</h6>
                                    <!-- List Group -->
                                    <ul
                                        class="list-group list-group-flush list-group-borderless mb-0 list-group-transparent">
                                        <li><a class="list-group-item list-group-item-action"
                                                href="/brandshop/?brand=Asus">Asus</a></li>
                                        <li><a class="list-group-item list-group-item-action"
                                                href="/brandshop/?brand=TP-Link">TP-Link</a></li>
                                        <li><a class="list-group-item list-group-item-action"
                                                href="/brandshop/?brand=Apple">Apple</a></li>
                                        <li><a class="list-group-item list-group-item-action"
                                                href="/brandshop/?brand=OnePlus">OnePlus</a></li>
                                        <li><a class="list-group-item list-group-item-action"
                                                href="/brandshop/?brand=Lenovo">Lenovo</a></li>
                                        <li><a class="list-group-item list-group-item-action"
                                                href="/brandshop/?brand=HP">HP</a></li>
                                    </ul>
                                    <!-- End List Group -->
                                </div>
                                <div class="col-12 col-md mb-4 mb-md-0">
                                    <h6 class="mb-3 font-weight-bold"><a href="/"><i class="fas fa-home"></i> Home</a></h6>
                                    <h6 class="mb-3 font-weight-bold"><a href="/wishlist/?email=<%=email%>"><i class="fa fa-bookmark"></i> Saved Products</a></h6>
                                <h6 class="mb-3 font-weight-bold"><a href="/"><i class="fa fa-search"></i> Search Products</a></h6>
                                <h6 class="mb-3 font-weight-bold"><a href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a></h6>
                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Footer-bottom-widgets -->
            <!-- Footer-copy-right -->
            <div class="bg-gray-14 py-2">
                <div class="container">
                    <div class="flex-center-between d-block d-md-flex">
                        <div class="mb-3 mb-md-0">This site is for educational purpose only</div>
                        <div class="text-md-right">
                             Ishmeet Kaur, Mushira Shaikh & Gianna Drego
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Footer-copy-right -->
        </footer>
        <!-- ========== END FOOTER ========== -->

         <!-- Go to Top -->
         <a class="js-go-to u-go-to" href="#"
         data-position='{"bottom": 15, "right": 15 }'
         data-type="fixed"
         data-offset-top="400"
         data-compensation="#header"
         data-show-effect="slideInUp"
         data-hide-effect="slideOutDown">
         <span class="fas fa-arrow-up u-go-to__inner"></span>
     </a>
     <!-- End Go to Top -->
        